<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <a class="volver" href="javascript:history.back()">⬅ Volver</a>
    <h1>📋 Tabla sensor: <%= sensorName %></h1>
    <table>
      <tr>
        <th style="width: 5%">TimeStamp</th>
        <th style="width: 5%">Fecha</th>
        <th style="width: 5%">Hora</th>
        <th style="width: 5%">TSP</th>
        <th style="width: 5%">PM10</th>
        <th style="width: 5%">PM4</th>
        <th style="width: 5%">PM2.5</th>
        <th style="width: 5%">PM1</th>
      </tr>

      <% try{data.forEach((element)=>{%>
      <tr>
        <td style="width: 5%"><%= element.ts %></td>
        <td style="width: 5%"><%= element.date %></td>
        <td style="width: 5%"><%= element.hour %></td>
        <td style="width: 5%"><%= element.TSP %></td>
        <td style="width: 5%"><%= element.PM10 %></td>
        <td style="width: 5%"><%= element.PM4 %></td>
        <td style="width: 5%"><%= element.PM25 %></td>
        <td style="width: 5%"><%= element.PM1 %></td>
      </tr>

      <%})} catch (error) {%>
        <td style="width: 5%">Error de autenticacion</td>
      <%}%>
    </table>
  </body>
</html>
